MEOWTOPO_HTTP_ADDR=127.0.0.1:8088
MEOWTOPO_DATA_DIR=./data
# MEOWTOPO_SCAN_INTERFACE=eth0
# MEOWTOPO_SCAN_CIDRS=192.168.50.0/24
# MEOWTOPO_GATEWAY_IP=192.168.50.1
MEOWTOPO_SCAN_INTERVAL=5m
MEOWTOPO_SCAN_CONCURRENCY=32
MEOWTOPO_PING_TIMEOUT=800ms
MEOWTOPO_TCP_TIMEOUT=350ms
MEOWTOPO_OFFLINE_THRESHOLD=3
MEOWTOPO_ENABLE_PORT_SCAN=true
MEOWTOPO_LOG_LEVEL=info
