MOETOPO_HTTP_ADDR=127.0.0.1:8088
MOETOPO_DATA_DIR=./data
# MOETOPO_SCAN_INTERFACE=eth0
# MOETOPO_SCAN_CIDRS=192.168.50.0/24
# MOETOPO_GATEWAY_IP=192.168.50.1
MOETOPO_SCAN_INTERVAL=5m
MOETOPO_SCAN_CONCURRENCY=32
MOETOPO_PING_TIMEOUT=800ms
MOETOPO_TCP_TIMEOUT=350ms
MOETOPO_OFFLINE_THRESHOLD=3
MOETOPO_ENABLE_PORT_SCAN=true
MOETOPO_LOG_LEVEL=info
